<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AtemKaraoke.Lib.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AtemKaraoke.Lib.Config>
            <setting name="FontName" serializeAs="String">
                <value>Times New Roman</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="VerticalResolution" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="HorizontalResolution" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="VerticalAlignment" serializeAs="String">
                <value>Bottom</value>
            </setting>
            <setting name="HorizontalAlignment" serializeAs="String">
                <value>Center</value>
            </setting>
            <setting name="Padding" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SourceFolder" serializeAs="String">
                <value>D:\Projects\AtemKaraoke\AtemKaraoke.Console\Songs</value>
            </setting>
            <setting name="SourceFolderPattern" serializeAs="String">
                <value>*.txt</value>
            </setting>
            <setting name="DestinationFolder" serializeAs="String">
                <value>D:\Projects\AtemKaraoke\AtemKaraoke.Console\Songs</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="FileNameLength" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Splitter" serializeAs="String">
                <value>\r\n\s*\t*\r\n</value>
            </setting>
        </AtemKaraoke.Lib.Config>
    </applicationSettings>
</configuration>