<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AtemKaraoke.Core.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="AtemKaraoke.Lib.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AtemKaraoke.Core.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AtemKaraoke.Lib.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AtemKaraoke.Core.Config>
            <setting name="FontName" serializeAs="String">
                <value>Verdana</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="VerticalResolution" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="HorizontalResolution" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="VerticalAlignment" serializeAs="String">
                <value>Bottom</value>
            </setting>
            <setting name="HorizontalAlignment" serializeAs="String">
                <value>Center</value>
            </setting>
            <setting name="Padding" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SourceFolder" serializeAs="String">
                <value>D:\Projects\AtemKaraoke\AtemKaraoke.Console\Songs</value>
            </setting>
            <setting name="SourceFolderPattern" serializeAs="String">
                <value>*.txt</value>
            </setting>
            <setting name="DestinationFolder" serializeAs="String">
                <value>D:\Projects\AtemKaraoke\AtemKaraoke.Console\Songs</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="FileNameLength" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Splitter" serializeAs="String">
                <value>\r\n\s*\t*\r\n</value>
            </setting>
            <setting name="SwitcherAddress" serializeAs="String">
                <value>192.168.88.5</value>
            </setting>
            <setting name="EmulateSwitcher" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseConsoleToUploadFromWinForm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontBorderColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FontBorderSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="SongSplitterInEditor" serializeAs="String">
                <value>\r\n\s*\t*\r\n\s*\t*\r\n</value>
            </setting>
            <setting name="MaxAmountOfVerses" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="RefrainePadding" serializeAs="String">
                <value>50</value>
            </setting>
        </AtemKaraoke.Core.Config>
        <AtemKaraoke.Lib.Config>
            <setting name="FontName" serializeAs="String">
                <value>Verdana</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="VerticalResolution" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="HorizontalResolution" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="VerticalAlignment" serializeAs="String">
                <value>Bottom</value>
            </setting>
            <setting name="HorizontalAlignment" serializeAs="String">
                <value>Center</value>
            </setting>
            <setting name="Padding" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SourceFolder" serializeAs="String">
                <value>D:\Projects\AtemKaraoke\AtemKaraoke.Console\Songs</value>
            </setting>
            <setting name="SourceFolderPattern" serializeAs="String">
                <value>*.txt</value>
            </setting>
            <setting name="DestinationFolder" serializeAs="String">
                <value>D:\Projects\AtemKaraoke\AtemKaraoke.Console\Songs</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="FileNameLength" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Splitter" serializeAs="String">
                <value>\r\n\s*\t*\r\n</value>
            </setting>
            <setting name="SwitcherAddress" serializeAs="String">
                <value>192.168.2.5</value>
            </setting>
            <setting name="EmulateSwitcher" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseConsoleToUploadFromWinForm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontBorderColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FontBorderSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
        </AtemKaraoke.Lib.Config>
    </applicationSettings>
    <userSettings>
        <AtemKaraoke.Core.Config>
            <setting name="curSongs" serializeAs="String">
                <value />
            </setting>
            <setting name="curSelectedStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="curSelectedLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SongSplitterInPresenter" serializeAs="String">
                <value>3</value>
            </setting>
        </AtemKaraoke.Core.Config>
        <AtemKaraoke.Lib.Config>
            <setting name="curSongs" serializeAs="String">
                <value/>
            </setting>
            <setting name="curSelectedStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="curSelectedLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SongsSplitter" serializeAs="String">
                <value>\r\n\s*\t*\r\n\s*\t*\r\n</value>
            </setting>
        </AtemKaraoke.Lib.Config>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
